ul {
  padding: 1em 0;
}

.talk-work {
  background-image: url(talk_work.jpg);
}

.code-border-red {
  border: 3px solid red;
  padding: 1px 5px;
}

canvas {
  background-color: white;
}

#game-canvas {
  background-color: green;
}

.unstyled-image {
  margin: 10px 0 !important;
  background: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
}
